<div id=header>
 <div class="logo">
  <a href="/">YumYum</a>
 </div>

 <div class="heading">
   <p>メニューを投稿して、買い取れちゃうアプリ！</p>
 </div>

 <div class="link">
   <ul id="nav">
     <li>メニュー１</li>
     <li>メニュー２</li>
     <li>メニュー３</li>
   </ul>
 </div>
</div>