<div class="content-wrapper">
  <div class="content-block">
   <div class="content">
      <div class="user-about">
        <div class="image">
          <%= image_tag "IMG_6389.jpg" %>
        </div>
        <div class="profile">
          <div class="name-about">
            <div class="name">
              洋食屋クマガイ
            </div>
          </div>
          <div class="detail">
            藤沢市にある老舗
          </div>
        </div>
      </div>
     <div class="images">
       <%= image_tag "saien1.jpg" %>
     </div>
     <div class="text">
        <p>これはサンプルテキストですこれはサンプルテキストですこれはサンプルテキストです</p>
        <p>これはサンプルテキストですこれはサンプルテキストですこれはサンプルテキストです</p>
     </div>
    </div>
  </div>
</div>